
  a {
    color:blue;
    margin-left:4px;
    margin-right:4px;
  }
  .back-button {
    color:black;
    padding-top:10px;
    padding-bottom:10px;
  }
  .next-button {
    color:black;
    padding-top:10px;
    padding-bottom:10px;
  }
  .stretch-button {
    background-color: green;
    color:white;
    border:none;
    margin-left:50px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    transition: padding-top 0.5s,padding-bottom 0.5s,padding-right 0.5s,padding-left 0.5s;
  }
  .stretch-button:hover {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor:pointer;
  }
  .td-button {
    background-color: green;
    color:white;
    border:none;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    cursor:pointer;
    transition: box-shadow 0.5s;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
  }
  .td-button:active {
    box-shadow:none;
  }
  .common {
    background-color:green;
    color:white;
    border:none;
    margin-left:20px;
    margin-right:20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition:padding-left 0.5s,padding-right 0.5s;
  }
  .common:hover {
    padding-left:20px;
    padding-right:20px;
  }
