p {
  font-family: Montserrat;
}
.main {
  font-size:30px;
  font-weight:bold;
  margin-bottom: 0px;
  text-align:center;
}
.desc {
  margin-top: 0px;
  text-align: center;
}
span {
  text-decoration: underline;
}