.search-bar {
  font-size:20px;
  margin-left:12px;
  display:block
}
.header {
  height:55px;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
}
.left-section {
  background-color: lightblue;
  width:150px;
  margin-right: 70px;
}
.middle-section {
  background-color: lightcoral;
  flex:1;
  max-width:500px;
}
.right-section {
  background-color: lightcyan;
  width:200px;
}